{% extends "app_base.html" %}
{% block content %}
<h2> <center> <u> Powered By EpsilonCoding.com </u></center> </h2>
<h3> <center> <i> Minimizing &epsilon;, Maximizing Accuracy </i> </center></h3>
<h5> <center>In partnership with <u> <a href="https://icarts.shop"> iCarted </a> </u></center></h5>
<form method="POST" action="search" class="form-inline">

<div class="alert alert-info">Search a stock to get reliable rankings.
</br> Additional features to come, including graphs displaying custom stock rankings using time series forecasting (ARIMA, VARMAX). </div>
{% include 'stock_info.html' %}
</form>
{% endblock %}

min(e)
